body {
  background: linear-gradient(
    -45deg,
    #d11e80 0%,
    #ee52f2 25%,
    #8626af 50%,
    #9752f2 75%,
    #351fb1 100%
  );
  background-size: 200% 200%;
  animation: background_color 20s ease infinite;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
}

@keyframes background_color {
  0% {
    background-position: 0% 50%;
  }
  45% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 50% 0%;
  }
}

@keyframes font_random_color {
  0% {
    color: #351fb1;
  }

  25% {
    color: #d11e80;
  }

  65% {
    color: #b2e30f;
  }

  85% {
    color: aquamarine;
  }

  100% {
    color: #351fb1;
  }
}

.name_header {
  color: rgba(255, 255, 255, 0.813);
  text-align: center;
  font-size: 50px;
  margin-top: 100px;
  text-shadow: 0px 0px 17px rgb(0, 0, 0);
}

.name_header span {
  font-size: 40px;
}

.logo {
  display: block;
  height: 150px;
  margin: 90px auto;
}
.navigation {
  margin-top: 300px;
  text-align: center;
}
.navigation a {
  color: aliceblue;
  text-decoration: none;
  font-size: 30px;
}

.navigation li {
  list-style: none;
  display: inline;
  position: relative;
  padding: 0 80px;
  white-space: nowrap;
}

.nav_about::before,
.nav_education::before,
.nav_contact::before {
  position: absolute;
  top: 40px;
  right: 72px;
  content: "";
  width: 160px;
  height: 6px;
  background: white;
  border-radius: 100px;
}

.nav_skills::before {
  position: absolute;
  top: 40px;
  right: 60px;
  content: "";
  width: 120px;
  height: 6px;
  background: white;
  border-radius: 100px;
}

.nav_contact::before {
  position: absolute;
  top: 40px;
  right: 63px;
  content: "";
  width: 150px;
  height: 6px;
  background: white;
  border-radius: 100px;
}

.navigation a:hover::before {
  background-color: #030001a4;
}

.navigation a:hover {
  animation: font_random_color 2s infinite ease-in-out;
}

.main_block {
  margin: 150px auto;
  width: 60em;
  height: 100em;
  background: rgba(137, 24, 160, 0.208);
  border-radius: 30px;
  box-shadow: 0px 0px 29px 10px rgba(84, 46, 97, 0.459);
  padding-top: 0.1px;
  color: rgba(238, 211, 242, 0.874);
  font-size: 25px;
}

.main_block .header {
  color: aliceblue;
  font-size: 40px;
  text-align: center;
  margin-top: 10px;
  padding-top: 30px;
}

.my_info {
  margin: 80px 50px;
}

.line::before {
  position: absolute;
  height: 10px;
  bottom: -90px;
  content: "";
  background: rgba(146, 13, 191, 0);
  box-shadow: 0px 0px 29px 10px rgba(84, 46, 97, 0.384);
  width: 100%;
  border-radius: 30px;
  pointer-events: none;
}

.shrek_img {
  border-radius: 70px;
  height: 300px;
  float: right;
  margin-right: 30px;
  margin-top: 30px;
}

.section_block {
  background-color: rgba(134, 38, 175, 0.466);
  position: relative;
  border-radius: 30px;
  box-shadow: 0px 0px 29px 10px rgba(66, 68, 90, 0.511);
  margin: 10px;
  border-bottom: 0.1px solid rgba(0, 0, 0, 0);
}

.section_block:hover {
  background-color: #8626af8e;
  border-radius: 30px;
  box-shadow: 0px 0px 29px 10px rgb(66, 68, 90);
}

.block_education {
  margin-top: 178px;
}

.edu_list li {
  margin: 80px 20px;
}

.block_skills {
  margin-top: 178px;
}

.block_skills div {
  margin-bottom: 0;
}

.skill_list li {
  margin: 40px;
}

.footer {
  position: relative;
  bottom: 0;
  width: 101px;
  border-radius: 13px 13px 0 0;
  padding: 10px;
  margin: auto;
}

.footer img {
  height: 30px;
  border-radius: 100%;
  padding: 0;
  margin-bottom: -10px;
}
